html {
    background-color: rgb(241, 240, 240);
    background-image: url("https://img.freepik.com/vetores-gratis/vetor-de-fundo-de-padrao-geometrico-branco-e-cinza_53876-136510.jpg?w=2000");
    max-width: 100%;
}

.load {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.navbar-toggler-icon {
    padding-top: 10px !important;
}



#navbarNav {
    display: none;
}

#navbarNav2 {
    display: flex;
}

.topo {
    padding: 0.4rem;
}

.navbar-brand,
a {
    margin-left: 0.7rem;
}

#hospital {
    background-color: #0E1931 !important;
}

div.topo {
    background-color: rgb(241, 240, 240);
   
}